.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.innerPanel {
    background-color: lightgray;
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-size: cover; /* Ensure the background image covers the entire panel */
    background-position: center; /* Center the background image */
}

/* New styles for the audio player */
:global(.rhap_container) {
    background-color: lightgray;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem 0;
}

:global(.rhap_play-pause-button) {
    color: #000;
}

:global(.rhap_main-controls-button) {
    color: #000;
}

:global(.rhap_progress-filled) {
    background-color: #000;
}

:global(.rhap_download-progress) {
    background-color: #4f4f4f;
}
