.containerWrapper {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 100px;
}

.containerWrapper.expanded {
  max-height: 1000px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.innerPanel {
  background-color: lightgray;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-size: cover;
  background-position: center;
}

:global(.rhap_container) {
  background-color: lightgray;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
}

:global(.rhap_play-pause-button) {
  color: #000;
}

:global(.rhap_main-controls-button) {
  color: #000;
}

:global(.rhap_progress-filled) {
  background-color: #000;
}

:global(.rhap_download-progress) {
  background-color: #4f4f4f;
}

.systemDashboardPanel {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.systemDashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.gearIcon {
  width: 20px;
  height: 20px;
  color: #666;
}
